*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box !important;
}
html, body {
    height: 100vh !important;
    margin: 0 !important;
    background-color: black !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style-type: none !important;
    display: flex !important;
    justify-content: flex-end !important;
}

li a{
    color: #8D4925 !important;
    font-size: 20px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    padding-left: 15px !important;
    /*display: inline-block !important;*/
}
li a:hover{
    transform: scale(1.2) !important;
    transition-duration: 1000ms !important;
}
/* DESPLEGABLE EN EL INDEX*/
.menu{
    list-style: none !important;
    background-color: black !important;
   
}
.menu ul{
    display: none !important;
    position: absolute ;
    margin: 0 ;
    padding: 0 ;
    z-index: 1;
}
.chapt{
    display: none;
}

.menu li{
    position: relative !important;
    display: inline-block !important;
}

.menu ul li a, .menu li a{
    display: block;
    text-decoration: none;
}

/* DESPLEGABLE EN EL INDEX*/

.principal {

    height: 73vh !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.menu_bar{ 
    background-color: black !important;
    margin-right: 20px !important; 
}

.logo-bar{
    width: 100% !important;
    height: 12vh !important;
    background-color: #8D4925 !important;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
}
.menu-button, #menu, .menu_input{
    display: none;
}
footer{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 5vh;
}


#desplegable {
    display: none;
    position: absolute;
    /* Otras propiedades de estilo para el menú desplegable */
}

.social-media-container{
    margin-top: 30px;
    width: 30vw;
    height: auto;
    display: flex;
	justify-content:space-around;
	align-items:center;
}
.social-media-image{
    width: 40px;
    height: auto;
}

.caption {
    color: white;
    font-size: 1.2em;
    margin-top: 60px;
    text-align: center;
    opacity: 0.8; /* Oculto inicialmente para animar su aparición */
    transition-duration: 20s;
}

.caption.visible {
    opacity: 1;
}

.blurred > *:not(#overlay) {
    filter: blur(5px);
    pointer-events: none;
}

.titulo-caps{
    color: #8D4925;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
@media (max-width:1300px){
    .logo-bar-img{
        width: 70%;
        height: auto;
    }
    .social-media-container{
        height: auto;
        display: flex;
        justify-content:space-around;
        align-items:center;
    }
    .social-media-image{
        width: 30px;
        height: auto;
    }

    .menu-button{
        display: block;
        cursor: pointer;
    }

    #menuIcon:checked + .menu{
        display: block;
        position: fixed;
        background: red;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: 0 at center;
        transition: clip-path 1s ease-in-out;  
    }
    #menuIcon:not(:checked) + .menu{
        display: none !important;
    }
}