
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta el espacio entre las imágenes según tus necesidades */
    width: 100%;
    max-width: 80vw;
    justify-content: center; /* Centra la galería si es necesario */
    align-items: center;
	margin: auto;
}
.gallery img {
    /*flex-basis: calc(25% - 100px);  Ajusta el 25% menos el gap para asegurar que se ajuste correctamente */
    border-radius: 7%;
	transform: scale(0.8);  /*Reduce el tamaño de las imágenes al 80% de su tamaño original */
    transition: transform 0.3s ease-in-out;  /*Agrega una transición suave */
}
.img{
    
    width: 300px;
    height: auto;

}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegúrate de que el contenido no se desborde */
    flex-direction: column; /* Para alinear la imagen y la leyenda verticalmente */
}
#overlay img {
    max-width: 50%;
    max-height: 50%;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.expanded-img {
    transform: scale(0.8); /* Tamaño inicial más pequeño */
}

.expanded-img.expanded {
    transform: scale(2); /* Tamaño expandido */
    max-width: 90%;
    max-height: 90%;
}
.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery img:hover {
    transform: scale(1); /* Opcional: para que las imágenes vuelvan a su tamaño original al pasar el cursor */
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 850px;
}




